$color: #F5F5F5;
$fontcolor: black;
$fontfamily: Liberation Mono;


body{
    background-color: $color;
    font-family: $fontfamily;
}

p{
    text-align: center;
}

#header{
    text-align: center;
    color: $fontcolor;
    font-family: $fontfamily;
}

#footer{
    font-family: $fontfamily;
    text-align: center;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sendbutton{
    background-color: #F5F5F5;
    border: 1px black solid;
    color: black;
    margin: 10px;
    padding: 10px 27px;
    text-align: center;
    font-family: $fontfamily;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
}

.button{
    background-color: #F5F5F5;
    border: 1px black solid;
    color: black;
    padding: 10px 27px;
    margin: 10px;
    text-align: center;
    font-family: $fontfamily;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
}

section{
    margin: 10px 15px;
    text-align: center;
}

.image{
    width: 50px;
    border-radius: 150px;
}

.cv{
    text-align: center;
}

#contact{
    text-align: center;
}

#msg {
    width: 240px;
    height: 100px;
    margin: 10px;
    border: 1px black solid;
}

#maincv{
    text-align: center;
    height: 400px;
    overflow: auto;
}

.dropbutton{
    background-color: #F5F5F5;
    border: 1px black solid;
    color: black;
    padding: 10px 27px;
    text-align: center;
    font-family: $fontfamily;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
    margin: 10px 15px;
}

.dropdown-content{
    display: none;
    position: relative;
}

.dropdown-content p {
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.profilpic{
    border-radius: 150px;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.homebutton{
    border: none;
    border-radius: 150px;
    height: 40px;
    margin-right: 10px;
}

.imageprofil{
    width: 25px;
    border-radius: 150px;
    padding-top: 5px;
}

.homebuttonfilled{
    height: 40px;
    visibility: hidden;
    padding-right: 5px;
}

.homemenu{
    padding-top: 60px;
}

#name{
    border: 1px black solid;
    width: 240px;
    height: 30px;
    margin: 10px;
}

#mail{
    border: 1px black solid;
    width: 240px;
    height: 30px;
    margin: 10px;
}

hr{
    height: 1px;
    width: 150px;
    color: black;
    background-color: black;
    border: 0;
}